$white: #f7f5f5;
$tangerine: #ff3300;
$black: #222222;
$slate: #222831;
$slate-light: #30475e;
$khaki: #c1a57b;
$gold: #b19300;
$green: #009e00;
$yellow: #ffd000;
$blue: #0051ff;
$neon: #ff005d;
$warm: #ffcc00;
$outrun: #7b00ff;
$skyblu: #00a2ff;

.skyblu{
    background-color: $skyblu;
}

.skyblu-text{
    color: $skyblu;
}

.warm{
    background-color: $warm;
}

.warm-text{
    color: $warm;
}

.outrun-text{
    color: $outrun;
}
.outrun{
    background-color: $outrun;
}
.neon{
    background-color: $neon;
}

.neon-text{
    color: $neon;
}

.green{
    background-color: $green;
}

.green-text{
    color: $green;
}

.khaki-text{
    color: $khaki;
}

.khaki{
    background-color: $khaki;
}

.black-text{
    color: $black;
}

.black{
    background-color: $black;
}
.white-text{
    color: $white;
}

.white{
    background-color: $white;
}

.blue-text{
    color: $blue;
}

.blue{
    background-color: $blue;
}
.yellow-text{
    color: $yellow;
}

.yellow{
    background-color: $yellow;
}

.slate-text{
    color: $slate;
}

.slate{
    background-color: $slate;
}

.slate-light-text{
    color: $slate-light;
}

.slate-light{
    background-color: $slate-light;
}

.green{
    background-color: $green;
}

.tangerine-text{
    color: $tangerine;
}

.tangerine{
    background-color: $tangerine;
}
