<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
</head>

<body class="matrix-image">
    <div class="container-main">
        <div class="header">
            <div class="thin-nav-bar">
                <a href="{{ url_for('home') }}" class="link">Home</a>
                <a href="{{ url_for('downloads') }}" class="link">Downloads</a>
                <a href="pages/contact.html" class="link">Contact</a>
            </div>
            <div class="container-small">
                <div class="box-left">
                    <img src="{{ url_for('static', filename='Logo3.png') }}" alt=""> <span class="brand-logo">Project
                        Archive</span>
                </div>
                <div class="box-right">
                    <input type="search" name="search" id="search" autocomplete="on">
                    <button class="btn khaki">Search</button>
                </div>
            </div>
        </div>
        <div class="contents" style="width: 100%">
            <div class="container" style="align-items: center">
                <img src="{{ url_for('static', filename='404.png') }}" alt="" width="404px">
                <a href="{{ url_for('home') }}" class="btn slate-light white-text">Go Home</a>
            </div>
        </div>
    </div>
    <footer class="container">
        2020 Anwesh Dahal
    </footer>
</body>

</html>