{% extends 'layout.html' %}
{% block content %}
<div class="card">
    <form action="" method="POST">
        <!-- {{ form.csrf_token }} -->
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add Project</legend>
            <div class="form-group">
                <div class="input-group">
                    {{ form.project_name.label(class="form-control-label") }}
                    {{ form.project_name(class="form-control") }}
                </div>
                <div class="input-group">
                    {{ form.version.label(class="form-control-label") }}
                    {{ form.version(class="form-control") }}
                </div>
                <div class="input-group">
                    {{ form.language.label(class="form-control-label") }}
                    {{ form.language(class="form-control") }}
                </div>
                <div class="input-group">
                    {{ form.dependency.label(class="form-control-label") }}
                    {{ form.dependency(class="form-control") }}
                </div>
                <div class="input-group">
                    {{ form.markup.label(class="form-control-label") }}
                    {{ form.markup(class="form-control") }}
                </div>
                <div class="input-group">
                    {{ form.script.label(class="form-control-label") }}
                    {{ form.script(class="form-control") }}
                </div>
                <div class="input-group">
                    {{ form.style.label(class="form-control-label") }}
                    {{ form.style(class="form-control") }}
                </div>
                <div class="input-group">
                    {{ form.github.label(class="form-control-label") }}
                    {{ form.github(class="form-control") }}
                </div>
                <div class="input-group">
                    {{ form.programming_lang.label(class="form-control-label") }}
                    {{ form.programming_lang(class="form-control") }}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn blue white-text") }}
        </div>
    </form>
</div>
{% endblock content %}