{% extends 'layout.html' %}
{% block content %}
<div class="card">
    <div class="contact-card black white-text">
        <div class="card-image"><img src="{{ url_for('static', filename='logo_w.png') }}" alt=""></div>
        <div class="card-contents">
            Facebook <span class="me"><a href="#!" class="blue-text">/anwesh.dahal1</a></span>
        </div>
    </div>
    <div class="contact-card black white-text">
        <div class="card-image"><img src="{{ url_for('static', filename='logo_w.png') }}" alt=""></div>
        <div class="card-contents">
            Twitter <span class="me"><a href="#!" class="skyblu-text">@anweshdahal1</a></span>
        </div>
    </div>
    <div class="contact-card black white-text">
        <div class="card-image"><img src="{{ url_for('static', filename='logo_w.png') }}" alt=""></div>
        <div class="card-contents">
            Github <span class="me"><a href="https://github.com/AnweshDahal" class="skyblu-text">/AnweshDahal</a></span>
        </div>
    </div>
    <div class="contact-card black white-text">
        <div class="card-image"><img src="{{ url_for('static', filename='logo_w.png') }}" alt=""></div>
        <div class="card-contents">
            Instagram <span class="me"><a href="https://www.instagram.com/anweshd2000/" class="neon-text">@anweshd2000</a></span>
        </div>
    </div>
    <div class="contact-card black white-text">
        <div class="card-image"><img src="{{ url_for('static', filename='logo_w.png') }}" alt=""></div>
        <div class="card-contents">
            Linkedin <span class="me"><a href="https://www.linkedin.com/in/anwesh-dahal-3240b819b/" class="blue-text">/anwesh-dahal-3240b819b</a></span>
        </div>
    </div>
</div>
{% endblock content %}